.App {
  font-family: sans-serif;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .distance {
  margin: 30px;
}

body {
  background-color: black;
  color: white;
  font-size: 150%;
}
